Clinica-V3.0/.vs
Clinica-V3.0/Clinica-V3.0/App_Data/*.mdf
Clinica-V3.0/Clinica-V3.0/App_Data/*.ldf
Clinica-V3.0/Clinica-V3.0/bin/Clinica-V3.0.dll
Clinica-V3.0/Clinica-V3.0/bin/Clinica-V3.0.pdb
Clinica-V3.0/Clinica-V3.0/obj/Debug/Clinica-V3.0.dll
Clinica-V3.0/Clinica-V3.0/obj/Debug/Clinica-V3.0.pdb
Clinica-V3.0/Clinica-V3.0/obj/Debug/CoreCompileInputs.cache
Clinica-V3.0/Clinica-V3.0/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Clinica-V3.0/Clinica-V3.0/obj/Debug/Clinica-V3.0.csprojResolveAssemblyReference.cache
Clinica-V3.0/Clinica-V3.0/Clinica-V3.0.csproj
Clinica-V3.0/Clinica-V3.0/Clinica-V3.0.csproj.user
!.gitignore
Clinica-V3.0/Clinica-V3.0/bin/Clinica-V3.0.dll
Clinica-V3.0/Clinica-V3.0/bin/Clinica-V3.0.pdb
Clinica-V3.0/Clinica-V3.0/App_Data/aspnet-Clinica-V3.0-20170824042152_log.ldf
Clinica-V3.0/Clinica-V3.0/App_Data/aspnet-Clinica-V3.0-20170824042152.mdf
Clinica-V3.0/.vs/config/applicationhost.config
Clinica-V3.0/.vs/Clinica-V3.0/v15/.suo
