@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="text-center">
        <h1>Número de Consultas do Dia</h1>
        <h1>@ViewBag.numConsultasHoje</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="text-center">
            <h2>Total de Pacientes</h2>
            <h3>@ViewBag.totalPacientes</h3>
        </div>
    </div>
    <div class="col-md-6">
        <div class="text-center">
            <h2>Total de Consultas</h2>
            <h3>@ViewBag.totalConsultas</h3>
        </div>
        
    </div>
</div>